<div class="posts">
  {{#each posts as |post| }}
  <div class="review">
    <div class="new-review">
      <h2> Movie:
        <a class="titles" href="/posts/{{post.id}}">{{post.title}}</a>
      </h2>
      <p><strong>Created by </{{post.user.username}} on {{format_date post.date_created}}</p>
    </div>
    <div>
      <p>
        <strong>Review: </strong>{{post.review}}
      </p>
    </div>
  </div>
  {{/each}}
</div>